

body {
  margin: 0;
  padding: 0;
  font-family: cursive;
  background-color: black;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
}



/* input, textarea, button {font-family: inherit} */

:root {
  /* --app_font1_color: white; */
}

/* ::-webkit-scrollbar{
  width: 0.5rem;
}

::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 100px;
} */


.cursor{
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid white;
  transform: rotate(-45deg);
  position: absolute;
  /* top: 0;
  left: 0; */
  z-index: 2;
}